.button {
  min-width: 64px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: .02857em;

  transition-duration: .2s;
  transition-timing-function: ease;

  &:hover {
    transform: scale(1.02);

    .button__container {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  &--primary {
    box-shadow: 0 1px 5px rgba(0,0,0,.075), 0 1px 5px rgba(0,0,0,.1);
    background-color: var(--Primary);
    color: var(--TextOnBg);
  }

  &--outline {
    border: 1px solid var(--LineBorder);
    color: var(--TextPrimary);

    &:hover {
      color: var(--Primary);
    }
  }

  &__container {
    padding: 5px 15px;
  }
}

