body {
  background-color: var(--BgBody);
  color: var(--TextPrimary);
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}

a {
  transition-duration: .2s;
  transition-timing-function: ease;
}

* {
  min-width: 0;
}

.hidden {
  display: none;
}